.about {
  /* padding: 100px 0; */
  /* background: linear-gradient(180deg, #94b8ff, rgba(0, 0, 0, 0)); */
}
.about__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
}
.about__img {
  position: relative;
  width: 700px;
  height: 700px;
  z-index: 2;
}
.about__img::after {
  /* content: ""; */
  position: absolute;
  background: linear-gradient(
    135deg,
    #1951ff -100%,
    rgba(158, 208, 520, 1) 100%
  );
  width: 85%;
  height: 85%;
  border-radius: 50%;
  bottom: -38px;
  left: -145px;
  z-index: -1;
}
.about__img::before {
  /* content: ""; */
  position: absolute;
  background: rgb(25, 81, 255);
  background: linear-gradient(
    135deg,
    rgba(66, 170, 255) 0%,
    rgba(100, 137, 300, 0.9) 100%
  );
  width: 28%;
  height: 28%;
  border-radius: 50%;
  right: -13px;
}
.about__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.about h2 {
  padding-bottom: 5px;
  font-size: 55px;
  color: black;
}

.slider_box {
  display: flex;
  flex-direction: column;
  width: 100%;
  width: 45%;
  align-items: center;
}
.slider {
  height: 445px;
  overflow: hidden;
  position: relative;
  width: 100%;
  margin-top: 15px;
  margin-bottom: 15px;
}

.slide {
  height: 200px;
  text-align: center;
  background-color: white;
  color: #333;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 20px;
  margin-top: 15px;

  /* transform: translateY(-432px);  */

  position: absolute;
}

.about__arrow_box {
  cursor: pointer;
  border-radius: 50%;
  background-color: #19c6ff;
}
.about__arrow {
  box-sizing: content-box;
  width: 55px;
  height: 55px;
  display: block;
  margin: 0 auto;
  padding: 15px;
}
#arrow_down {
  transform: rotate(180deg);
}

.slider p {
  overflow-wrap: break-word;
  margin: 10px 10px;
  font-weight: 600;
  line-height: 30px;
}

@media (max-width: 500px) {
  .about h2 {
    font-size: 28px;
  }
  .about__content {
    flex-wrap: wrap;
    justify-content: center;
  }
  .about__img {
    height: 280px;
    width: 280px;
    margin-bottom: 30px;
  }

  .slider {
    width: 200%;
    height: 270px;
}
.slide {
  height: 250px;
  margin-left: 10px;
}
.slide p {
  line-height: 1.2;
}

}
