.about_faculties {
  /* padding: 80px 0; */
  background: rgb(135, 176, 255);
  background: linear-gradient(
    180deg,
    rgba(135, 176, 255, 1) 0%,
    rgba(217, 230, 255, 1) 100%
  );
}
.about_faculties__item {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
.about_faculties__title {
  display: flex;
  align-items: center;
  gap: 30px;
}
.about_faculties__decoration {
  width: 100px;
  height: 100px;
  background-color: var(--accent);
  border-radius: 50%;
}
.about_faculties__h3 {
  font-size: 40px;
  font-weight: 600;
  max-width: 800px;
  color: white;
  text-shadow: 3px 3px 0 var(--accent);
  /* opacity: 0; */
  position: relative;
}

.about_faculties__text {
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 100px;
  margin-left: 47px;
  margin-top: 10px;
}
.about_faculties__info {
  margin-top: 15px;
  padding-top: 15px;
  padding-right: 20px;
  border-top: 5px solid var(--accent);
  max-width: 600px;
  font-size: 20px;
}
.about_faculties__text__title {
  font-size: 23px;
}
.about_faculties__text__p {
  margin-top: 4px;
}

/* Для правого позиционирования */
.about_faculties__item__left {
  align-items: end;
}
.about_faculties__item__left .about_faculties__title {
  flex-direction: row-reverse;
}
.about_faculties__item__left .about_faculties__text {
  align-items: end;
  padding-left: 0;
  padding-right: 100px;
  margin-left: 0;
}
.about_faculties__item__left .about_faculties__text .about_faculties__info {
  padding-right: 0;
  padding-left: 20px;
  text-align: right;
}
.about_faculties__item__left .about_faculties__title h3 {
  text-align: right;
}

/* Анимации */
.about_faculties__animation_area,
.about_faculties__text {
  width: 650px;
}
.about_faculties__animation_area {
  border-left: 5px solid var(--accent);
  overflow: hidden;
  position: relative;
  /* display: flex; вроде без него работает, но в примере он был */
  margin-top: 10px;
  margin-left: 48px;
}
.about_faculties__text {
  position: absolute;
  right: 10%;
  transition: 0.5s;
  opacity: 0;
  /* z-index: -1; */
}
.about_faculties__animation_apply .about_faculties__text {
  animation-name: about_faculties__animation;
  animation-duration: 0.5s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}
@keyframes about_faculties__animation {
  from {
    right: 10%;
    opacity: 0;
  }
  to {
    right: 0;
    opacity: 1;
  }
}
.about_faculties__animation_apply .about_faculties__text {
  animation-timing-function: cubic-bezier(0.42, 0, 0, 1);
}
/* Анимация для правого позиционирования */
.about_faculties__item__left .about_faculties__animation_area {
  border-left: none;
  border-right: 5px solid var(--accent);
  margin-left: 0;
  margin-right: 48px;
}
.about_faculties__item__left
  .about_faculties__animation_area
  .about_faculties__text {
  left: 10%;
  opacity: 0;
}

.about_faculties__item__left
  .about_faculties__animation_apply
  .about_faculties__text {
  animation-name: about_faculties__right_animation;
  animation-duration: 0.5s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}
@keyframes about_faculties__right_animation {
  from {
    left: 10%;
    opacity: 0;
  }
  to {
    left: 0;
    opacity: 1;
  }
}

/* Выезд сверху */
.about_faculties__top_animation_area {
  display: flex;
  overflow: hidden;
  /* width: 1000px; */
  width: 100%;
  position: relative;
}
.about_faculties__text_box {
  position: absolute;
  bottom: 100%;
  transition: 1s;
}
.about_faculties__animation_apply .about_faculties__text_box {
  animation-name: about_faculties__top_animation;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}
@keyframes about_faculties__top_animation {
  from {
    bottom: 100%;
  }
  to {
    bottom: 0;
  }
}

/* Выезд сверху ддя правого края */
.about_faculties__item__left .about_faculties__top_animation_area {
  justify-content: flex-end;
}

/* Фикс анимации */
.about_faculties__text__p:last-child {
  padding-bottom: 30px;
}

@media (max-width: 500px) {
  .about_faculties__decoration {
    display: none;
  }
  .about_faculties__h3 {
    text-align: center;
    font-size: 30px;
  }
  .about_faculties__item__left .about_faculties__title h3 {
    text-align: center;
  }
  .about_faculties__text {
    padding: 0;
    padding-left: 15px;
  }
  .about_faculties__animation_area {
    margin: 0;
  }
  .about_faculties__animation_area,
  .about_faculties__text {
    width: 300px;
  }
  .about_faculties__item__left .about_faculties__animation_area {
    margin: 0;
  }
  .about_faculties__item__left .about_faculties__text {
    padding-right: 15px;
  }
  .about_faculties__item__left .about_faculties__text__title {
    text-align: right;
  }
  .about_faculties__item {
    margin-top: 20px;
  }
}
