.about {
  /* padding: 100px 0; */
  /* background: linear-gradient(180deg, #94b8ff, rgba(0, 0, 0, 0)); */
}
.about__content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.about__content div {
  
}
.about__img {
  position: relative;
  width: 505px;
  height: 505px;
  z-index: 2;
  width: 45%;
}
.about__img::after {
  content: "";
  position: absolute;
  background: linear-gradient(135deg, #1951ff -100%, rgba(158, 208, 520, 1) 100%);
  width: 85%;
  height: 85%;
  border-radius: 50%;
  bottom: -38px;
  left: -145px;
  z-index: -1;
}
.about__img::before {
  content: "";
  position: absolute;
  background: rgb(25, 81, 255);
  background: linear-gradient(
    135deg,
    rgba(66, 170, 255) 0%,
    rgba(100, 137, 300, 0.9) 100%
  );
  width: 28%;
  height: 28%;
  border-radius: 50%;
  right: -13px;
}
.about__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.about__text h2 {
  border-bottom: 5px solid var(--accent);
  text-align: right;
  padding-bottom: 5px;
  font-size: 45px;
}


.slider {
  height: 400px;
  overflow: hidden;  
  position: relative;
  width: 45%;
  background-color: #fff;
  border-radius: 30%;
  box-shadow: 0px 0px 50px rgba(0, 0, 0, 0.5);
}

.slide {
  height: 400px; 
  text-align: center;
  background-color: #fff;
  color: #333;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#arrow_up {
  width: 55px;
  height: auto;
  display: block;
  margin: 0 auto;
  transform: translate(285px, -245px);
}

#arrow_down {
  width: 55px;
  height: auto;
  display: block;
  margin: 0 auto;
  rotate: 180;
  transform: translate(-285px, 245px) rotate(180deg);
}

.slide {
  transition: transform 0.5s ease-in-out;
}

.disabled {
  opacity: 0.6; 
}

.slider p {
  overflow-wrap: break-word;
  margin: 10px 10px;
}