.advantages {
  padding-top: 120px;
  padding-bottom: 280px;
}
.advantages__content {
  max-width: 1400px;
}
.advantages__title {
  text-align: center;
}
.advantages__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 80px;
}
.advantages__item {
  display: flex;
  gap: 20px;
}
.advantages__icon {
  --advantages-icon-size: 70px;
  width: var(--advantages-icon-size);
  height: var(--advantages-icon-size);
  border-radius: 50%;
  background-color: var(--accent);
  padding: 14px;
}
.advantages__icon img {
  width: 100%;
  height: 100%;
}
.advantages__text {
  max-width: 280px;
}
.advantages__text__p {
  font-size: 20px;
}
.advantages__shors_text {
  max-width: 230px;
}

