.advantages {
  /* padding-top: 120px;
  padding-bottom: 280px; */
  background-image: url(../img/advantages_bg.svg);
  background-repeat: no-repeat;
  background-position: top center;
}
.advantages__content {
  display: flex;
  flex-direction: column;
  max-width: 1300px;
}
.advantages__title {
  text-align: center;
  margin-bottom: 100px;
  color: white;
}
.advantages__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  padding: 30px 0;
  border-radius: var(--default-radius);
  box-shadow: var(--shadow);
}
.advantages__item {
  display: flex;
  gap: 20px;
  padding: 20px;
}
.advantages__item:nth-child(1) {
  border-bottom: 1px solid var(--accent);
  border-right: 1px solid var(--accent);
}
.advantages__item:nth-child(2) {
  border-left: 1px solid var(--accent);
  border-bottom: 1px solid var(--accent);
  border-right: 1px solid var(--accent);
}
.advantages__item:nth-child(3) {
  border-left: 1px solid var(--accent);
  border-bottom: 1px solid var(--accent);
}
.advantages__item:nth-child(4) {
  border-top: 1px solid var(--accent);
  border-right: 1px solid var(--accent);
}
.advantages__item:nth-child(5) {
  border-left: 1px solid var(--accent);
  border-top: 1px solid var(--accent);
  border-right: 1px solid var(--accent);
}
.advantages__item:nth-child(6) {
  border-left: 1px solid var(--accent);
  border-top: 1px solid var(--accent);
}

.advantages__icon {
  --advantages-icon-size: 70px;
  width: var(--advantages-icon-size);
  height: var(--advantages-icon-size);
  border-radius: 50%;
  /* background-color: var(--accent); */
  background-color: #2e5bae;
  padding: 14px;
  z-index: 3;
}
.advantages__icon img {
  width: 100%;
  height: 100%;
}
.advantages__text {
  max-width: 280px;
}
.advantages__text__p {
  font-size: 20px;
}
.advantages__shors_text {
  max-width: 230px;
}

@media (max-width: 500px) {
  .advantages {
    padding-bottom: 0px;
  }
  .advantages__item:nth-child(1) {
    border: none;
    border-bottom: 2px solid var(--accent);
  }
  .advantages__item:nth-child(2) {
    border: none;
    border-bottom: 2px solid var(--accent);
  }
  .advantages__item:nth-child(3) {
    border: none;
    border-bottom: 2px solid var(--accent);
  }
  .advantages__item:nth-child(4) {
    border: none;
    border-bottom: 2px solid var(--accent);
  }
  .advantages__item:nth-child(5) {
    border: none;
    border-bottom: 2px solid var(--accent);
  }
  .advantages__item:nth-child(6) {
    border: none;
  }
  .advantages__items {
    box-shadow: none;
  }
  .advantages__item {
    text-align: center;
  }
  .advantages__icon {
    display: none;
  }
  .advantages h3 {
    margin-bottom: 10px;
  }
  .advantages p {
    width: 100%;
  }
  .advantages__shors_text {
    max-width: none;
  }
  .advantages__items {
    row-gap: 20px;
  }
}
