.entering__buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.entering__button {
  background-color: #ffffff;
  margin: 7px;
  color: black;
  text-align: center;
  font-size: 16px;
  border-radius: var(--default-radius);
  padding: 12px;
  box-shadow: var(--shadow);
  width: 179px;
  white-space: nowrap;
  &:not(.entering__button__active):hover {
    color: white;
    background-color: var(--accent);
  }
}
.entering__item {
  display: none;
  flex-direction: column;
  align-items: center;
}
.about_entering img {
  height: 500px;
}
.entering__text {
  margin-top: -100px;
  background-color: white;
  padding: 25px;
  /* changefont */
  border-radius: var(--default-radius);
  box-shadow: var(--shadow);
  max-width: 1000px;
  width: 80%;
}
.entering__item ul {
  padding-left: 23px;
}
.entering__item li {
  position: relative;
  text-align: left;
}
.entering__item li::before {
  content: "";
  --curriculum__li_size: 9px;
  width: var(--curriculum__li_size);
  height: var(--curriculum__li_size);
  background-color: var(--accent);
  border-radius: 50%;
  position: absolute;
  left: -18px;
  top: 8px;
}

.entering__button__active {
  color: white;
  background-color: #331acf;
  box-shadow: none;
  transition: 0.5s;
}
.entering__item__active {
  display: flex;
}

@media (max-width: 500px) {
  .about_entering img {
    display: none;
  }
  .entering__button {
    width: 90%;
  }
  .entering__text {
    width: 90%;
    margin-top: 0;
  }
}
