.entering__buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.entering__button {
  background-color: #ffffff;
  margin: 7px;
  color: black;
  text-align: center;
  font-size: 16px;
  border-radius: var(--default-radius);
  padding: 12px;
  box-shadow: var(--shadow);
  width: 179px;
  white-space: nowrap;
  &:not(.entering__button__active):hover {
    color: white;
    background-color: var(--accent);
  }
}
.entering__item {
  display: none;
  flex-direction: column;
  align-items: center;
}
.about_entering img {
  height: 500px;
}
.entering__text {
  text-align: center;
  margin-top: -100px;
  background-color: white;
  padding: 25px;
  font-size: 24px;
  border-radius: var(--default-radius);
  box-shadow: var(--shadow);
  max-width: 1000px;
  width: 70%;
}

.entering__button__active {
  color: white;
  background-color: #2e5bae;
  box-shadow: none;
  transition: 0.5s;
}
.entering__item__active {
  display: flex;
}

@media (max-width: 500px) {
  .about_entering img {
    width: 100%;
    height: auto;
  }
  .entering__text {
    width: 100%;
  }
}
