.button {
  margin: 5px;
  background-color: #ffffff;
  color: black;
  text-align: center;
  font-size: 16px;
  border-radius: 50px;
  padding: 15px;
  /* border: 3px solid var(--accent); */
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
}

.image-container {
  top: 5%;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 750px;
  margin: auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button_img_container {
  position: relative;
  height: 750px;
  text-align: center;
  /* padding: 10%; */
}
.text_on_img {
  background-color: white;
  color: black;
  padding: 50px;
  font-size: 24px;
  border-radius: 100px;
  margin: -20% 0%;
  max-width: 1000px;
  z-index: 10;
  position: relative;
}

.button.active {
  color: white;
  background-color: var(--accent);
  box-shadow: none;
  transition: 0.5s;
}

.button:not(.active):hover {
  color: white;
  background-color: #51bbfc;
}

.image-container img {
  max-width: 100%;
  /* max-height: 100%; */
  width: auto;
  height: auto;
  object-fit: cover;
  
}
.images_container{
  align-items: center;
}

.button_conteiner {
  display: grid;
  grid-template-areas:
    "btn1 btn2 btn3 btn4 btn5";
  gap: 10px;
}
.button_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.button:nth-child(1) {
  grid-area: btn1;
}

.button:nth-child(2) {
  grid-area: btn2;
}

.button:nth-child(3) {
  grid-area: btn3;
}

.button:nth-child(4) {
  grid-area: btn4;
}

.button:nth-child(5) {
  grid-area: btn5;
}
@media (max-width: 500px) {
  .button_conteiner {
    grid-template-columns: 1fr auto auto 1fr;
    grid-template-rows: auto auto;
    grid-template-areas:
      "btn1 btn2 btn3"
      "btn4 btn5 ."; 
    justify-content: center;
  }

  .button {
    height: auto;
    width: auto;
    padding: 10px;
    font-size: 14px;
  }

  .button:nth-child(4) {
    grid-area: btn4;
    margin-left: 10%;
  }
  .text_on_img p{
    top: 10px;
    bottom: 10px;
    position: relative;
  }
  .text_on_img {
    background-color: white;
    color: black;
    padding: 5px;
    font-size: 24px;
    border-radius: 100px;
    margin: -20% 0%;
    max-width: 1000px;
    z-index: 10;
    position: relative;
    display: inline-block; 
  }
  .text_on_img::before {
    content: "";
    display: block;
    height: 40px; /* Регулируйте эту величину для изменения высоты фона сверху */
  }
  
  .text_on_img::after {
    content: "";
    display: block;
    height: 40px; /* Регулируйте эту величину для изменения высоты фона снизу */
  }

}