.curriculum {
  background-image: url("../img/curriculum_bg.png");
  /* background-size: cover; */
  /* padding-top: 50px;
  padding-bottom: 80px; */
  background-image: url("../img/circle_bg.png");
  background-size: 90px;
  background-attachment: fixed;
}
.curriculum__content {
  background-color: white;
  box-shadow: var(--shadow);
  display: flex;
  justify-content: space-between;
  padding: 20px;
  border-radius: 20px;
  /* max-width: 90%; */
}
.curriculum__buttons {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 20px;
  /* width: 25%; */
  margin-right: 20px;
}
.curriculum__button {
  background-color: transparent;
  font-size: 30px;
  padding: 0;
  text-align: left;
}
.img_box {
  height: 380px;
}
.img_box img {
  border-radius: 20px;
  box-shadow: var(--shadow);
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.curriculum__info {
  flex-direction: column;
  width: 70%;
  --curriculum-fz: 25px;
}
.curriculum ul {
  margin-top: 20px;
  padding-left: 23px;
}
.curriculum li {
  position: relative;
  font-size: var(--curriculum-fz);
}
.curriculum li::before {
  content: "";
  --curriculum__li_size: 9px;
  width: var(--curriculum__li_size);
  height: var(--curriculum__li_size);
  background-color: var(--accent);
  border-radius: 50%;
  position: absolute;
  left: -18px;
  top: 12px;
}
.curriculum__link {
  font-size: var(--curriculum-fz);
  text-align: right;
  text-decoration: underline dotted;
  color: var(--accent);
  &::after {
    content: " >";
  }
}

/* Кнопки */
.curriculum__info {
  display: none;
}
.curriculum__info.curriculum__active {
  display: flex;
}
.curriculum__button {
  background-color: #ffffff;
  color: black;
  text-align: center;
  font-size: 30px;
  border-radius: 50px;
  padding: 15px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.5);
  &:after {
    position: absolute;
    content: "";
    width: 0;
    height: 3px;
    background: var(--accent);
    bottom: -3px;
    right: 0;
    left: 0;
    transition: all 0.5s;
  }
  &:not(.curriculum__button__active):hover {
    color: white;
    background-color: #51bbfc;
  }
}
.curriculum__button__active {
  color: white;
  background-color: var(--accent);
  box-shadow: none;
  transition: 0.5s;
}

@media (max-width: 500px) {
  .curriculum__content {
    flex-direction: column;
    gap: 20px;
  }
  .curriculum__button {
    font-size: 20px;
  }
  .curriculum__info {
    display: flex;
    --curriculum-fz: 18px;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease;
  }
  .curriculum__info.curriculum__active {
    height: 320px;
  }
}
