.curriculum__content {
  display: flex;
  flex-direction: column;
  gap: 80px;
  justify-content: space-between;
  padding: 20px;
  border-radius: var(--default-radius);
}

.curriculum__item {
  display: flex;
  align-items: center;
  gap: 40px;
}
.curriculum__decoration {
  min-width: 167px;
  min-height: 167px;
  background-color: red;
  border-radius: 50%;
}
.curriculum__item:nth-child(1) .curriculum__decoration {
  background-color: #cc0256;
}
.curriculum__item:nth-child(2) .curriculum__decoration {
  background-color: #331acf;
}
.curriculum__item:nth-child(3) .curriculum__decoration {
  background-color: var(--accent);
}

.curriculum__buttons {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  gap: 20px;
  /* width: 25%; */
  margin-right: 20px;
}
.curriculum__button {
  background-color: transparent;
  /* changefont */
  padding: 0;
  text-align: left;
}
.curriculum ul {
  padding-left: 23px;
}
.curriculum li {
  position: relative;
}
.curriculum li::before {
  content: "";
  --curriculum__li_size: 9px;
  width: var(--curriculum__li_size);
  height: var(--curriculum__li_size);
  background-color: var(--accent);
  border-radius: 50%;
  position: absolute;
  left: -18px;
  top: 8px;
}
.curriculum__link {
  text-decoration: underline dotted;
  color: var(--accent);
  /* changefont */
  &::after {
    content: " >";
  }
}

/* Кнопки */
.curriculum__info {
  display: none;
}
.curriculum__info.curriculum__active {
  display: flex;
}
.curriculum__button {
  background-color: #ffffff;
  color: black;
  text-align: center;
  /* changefont */
  border-radius: 50px;
  border-radius: var(--default-radius);
  padding: 15px;
  box-shadow: var(--shadow);
  &:not(.curriculum__button__active):hover {
    color: white;
    background-color: var(--accent);
  }
}
.curriculum__button__active {
  color: white;
  background-color: #2e5bae;
  box-shadow: none;
  transition: 0.5s;
}

@media (max-width: 500px) {
  .curriculum__content {
    flex-direction: column;
    gap: 20px;
  }
  .curriculum__button {
    /* changefont */
    width: 100%;
  }
  .curriculum__item {
    flex-direction: column;
    gap: 10px;
  }
  .curriculum__info {
    display: flex;
    --curriculum-fz: 18px;
    width: 100%;
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease;
  }
  .curriculum__info.curriculum__active {
    height: 260px;
  }
}
