.faculties {
  display: flex;
  align-items: center;
  background-color: var(--accent);
}
.faculties-content {
  max-width: 900px;
}
.faculties__title {
  color: white;
}
.faculties__item {
  background-color: white;
  border-radius: var(--default-radius);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px 40px 23px;
  padding-right: 50px;
  margin-bottom: 30px;
  gap: 10px;
}
.faculties__item:last-child {
  margin-bottom: 0;
}
.facultie__name {
  max-width: 50%;
}
.facultie__info {
  display: flex;
  min-width: 320px;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}
.facultie__info__item__pts {
  /* changefont */
  line-height: 31px;
  color: var(--accent);
}
.facultie__info__item__pts_info {
  /* changefont */
}
.facultie__info__item__new {
  /* changefont */
  font-weight: 500;
}
.facultie__info__item {
  width: 130px;
  text-align: center;
}

@media (max-width: 500px) {
  .faculties {
    background-attachment: local;
    background-size: cover;
    background-position: right;
    background-position-x: -200px;
  }
  .faculties-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  .faculties__item {
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
    padding: 10px;
  }
  .facultie__name {
    /* changefont */
    text-align: center;
    width: 100%;
  }
  .facultie__info {
    min-width: 0px;
  }
  .facultie__info__item {
    width: 33%;
  }
  .facultie__info__item__new {
    text-align: center;
    /* changefont */
  }
  .facultie__info__item__pts {
    font-size: 1.5em;
  }
  .facultie__info__item__pts_info {
    /* changefont */
  }
  .facultie__info {
    width: 100%;
  }
  .facultie__name {
    max-width: 100%;
  }
}
