.for_who {
  background-image: url(../img/for_who_bg_bottom.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom center;
}
.for_who__title {
  padding: 0 32px;
  background-color: var(--accent);
}
.for_who h2 {
  margin: 0;
  padding-top: 70px;
  height: 326px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  /* background-image: url(../img/for_who_bg_title.svg); */
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 27px;
  color: white;
}
.for_who__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: -140px;
  gap: 15px;
  overflow: hidden;
}
.for_who__item {
  display: flex;
  flex-direction: column;
  width: 348px;
  align-items: center;
  text-align: center;
  /* changefont */
}
.for_who__item p {
  padding: 20px 0;
}
.for_who__img {
  width: 260px;
}
.for_who__img img {
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
  justify-items: start;
}

.for_who__item_left_animation {
  animation-name: for_who__item_left_animation;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes for_who__item_left_animation {
  from {
    transform: translateX(-200%);
  }
  to {
    transform: translateX(0);
  }
}

.for_who__item_right_animation {
  animation-name: for_who__item_right_animation;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes for_who__item_right_animation {
  from {
    transform: translateX(200%);
  }
  to {
    transform: translateX(0);
  }
}

.for_who__item_center_animation {
  animation-name: for_who__item_center_animation;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}

@keyframes for_who__item_center_animation {
  from {
    transform: translateY(50%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

#for_who__item_left {
  transform: translateX(-200%);
}

#for_who__item_center {
  transform: translateY(50%);
  opacity: 0;
}

#for_who__item_right {
  transform: translateX(200%);
}

@media (max-width: 500px) {
  .for_who {
    background-image: none;
  }
  .for_who__title {
    padding: 0 10px;
  }
  .for_who__title h2 {
    /* changefont */
    padding-top: 10px;
    height: 408px;
  }
  .for_who__content {
    margin-top: -317px;
    gap: 0;
  }
  .for_who__boxes {
    flex-direction: column;
    align-items: center;
  }
  .for_who__item {
    width: 90%;
  }
  .for_who__img {
    width: 160px;
  }
  .for_who p {
    padding: 0;
    border-radius: 100px;
    color: white;
    /* changefont */
    padding: 5px 10px;
    margin: 10px 0;
  }
  .for_who__item:nth-child(odd) p {
    background-color: #331acf;
  }
  .for_who__item:nth-child(even) p {
    background-color: var(--accent);
  }
  #for_who__item_center {
    opacity: 1;
    transform: translateY(0%);
  }
}
