* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
:root {
  --accent: #1a67ff;
  --light-accent: #e8efff;
}
section {
  height: calc(100vh - 100px);
}
.content {
  margin: 0 auto;
  max-width: 1160px;
}
button {
  border: none;
  cursor: pointer;
  user-select: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 400;
  margin: 0;
}

h3 {
  font-size: 26px;
  font-weight: 800;
}
p {
  font-size: 18px;
}
