.partners__content_main {
  display: flex;
}

.partners__content {
  display: grid;
  grid-template-columns: repeat(4, 300px);
  justify-content: space-between;
  align-items: center;
}

.partners__content img {
  width: 200px;
}

.partners__content#partners__content2 {
  position: absolute;
  margin-left: 111%; 
}

.partners__content_main{
  animation: partnersAnimation 6s infinite;
}

@keyframes partnersAnimation {
  0% {
    transform: translateX(0);
  }
  34% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-100%);
  }
  84% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
  
}

