.partners__content_wrap {
  overflow: hidden;
  background-color: #f0f0f0;
  padding: 10px 0;
}

.partners__content {
  display: flex;
  position: relative; /* Добавляем относительное позиционирование */
  
}

.partner {
  width: 300px;
  margin-left: 0%;
  display: flex;
  align-items: center;
  position: relative; /* Добавляем относительное позиционирование */
}

.partner img {
  width: 300px;
  display: block;
  margin: 0 auto;
}

.partner_ {
  width: 300px;
  margin-left: 0%;
  display: flex;
  align-items: center;
  position: relative; /* Добавляем относительное позиционирование */
}

.partner_ img {
  width: 300px;
  display: block;
  margin: 0 auto;
}

