.roulette {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 0px;
  flex-direction: column;
}

.roulette_row {
  height: 65px;
  width: 60%;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  border: 3px solid #000;
  background-color: #fff;
  top: -65px;
  cursor: pointer;
}

.roulette_button {
  background-color: var(--accent);
  color: #fff;
  cursor: pointer;
  border-radius: 50%;
  width: 110px;
  height: 110px;
  box-shadow: 4px 6px 15px rgba(0, 0, 0, 0.5);
  position: fixed;
  /* bottom: 80px; */
  right: 20px;
  transition: all 1s ease-in-out;
  margin-left: auto;
}
.roulette_button p {
  position: relative;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.roulette_items {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.roulette_arr {
  background-color: #fff;
}
.roulette_text {
  width: 125%;
}
.roulette_arr p {
  margin-top: 30px;
  text-align: center;
  display: flex;
  align-items: center; /* Центрирование по вертикали */
  justify-content: center; /* Центрирование по горизонтали (если нужно) */
  text-align: center;
}

.big_h2 {
  /* changefont */
}

.roulette_text h2 {
  text-align: left;
  margin: 0 30px;
  color: #fff;
}
.roulette_text p {
  text-align: left;
  max-width: 60%;
  margin: 60px 30px;
  color: #fff;
}
.roulette_button_act {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  height: 210px;
}

.roulette_h2 {
  color: #fff;
  margin-top: 5% !important;
  margin-left: auto;
}

.roulette_conteiner {
  background-color: #000;
}
#roulette_button_text2 {
  opacity: 0;
}
.roulette_animation_button {
  animation-name: roulette_animation_button;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  position: relative;
  right: 0;
}
@keyframes roulette_animation_button {
  0% {
    transform: rotate(0deg);
    width: 110px;
    height: 110px;
    right: 20px;
  }

  100% {
    transform: rotate(-360deg);
    width: 200px;
    height: 200px;
    right: 43%;
  }
}
.roulette_animation_button_text1 {
  animation-name: roulette_animation_button_text1;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
.roulette_animation_button_text2 {
  animation-name: roulette_animation_button_text2;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}
@keyframes roulette_animation_button_text1 {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes roulette_animation_button_text2 {
  from {
    transform: translate(-50%, -100%);
    opacity: 0;
  }
  to {
    transform: translate(-50%, -100%);
    opacity: 1;
  }
}
/* bottom: 80px; убрать*/
/* position: absolute;
transform: translateY(-200px); */

/* кот */



.back_cat {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 275px;
  height: 275px;
  overflow: hidden;
}

.back_cat img {
  width: 285px;
  height: 220px;
  object-fit: cover;
  transform: translateY(-30px);
}
.roulette_arr p {
  height: 47px;
}
@media (max-width: 1000px) {
  .roulette_row {
    width: 90%;
    height: 80px;
  }
  .roulette_arr p {
    margin-top: 30px;
    height: 75px;
  }
}
@media (max-width: 500px) {
  .roulette_row {
    width: 90%;
    height: 60px;
  }
  .roulette_arr p {
    margin-top: 30px;
    height: 47px;
  }

  .roulette_h2 {
    transform: translateX(0%) !important;
  }
  .big_h2 {
    font-size: 50px;
  }
  .roulette_button {
    width: 150px;
    height: 150px;
    position: relative;
    right: 0px;
    margin-left: 0;
    z-index: 200;
  }
  #roulette_button_text1 {
    display: none;
  }
  #roulette_button_text2 {
    display: block;
    opacity: 1;
  }
  .roulette_text p {
    text-align: left;
    max-width: 100%;
    margin: 60px 30px;
    color: #fff;
  }
  .roulette_button_act {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
  }
  .roulette_items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .roulette_text {
    width: 100%;
}
}

@media (max-width: 320px) {
  .roulette_row {
    width: 90%;
    height: 100px;
  }
  .roulette_items {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .roulette_text {
    width: 110%;
  }
  .roulette_arr {
    background-color: #fff;
}
.roulette_arr p {
  margin-top: 30px;
  height: 92px;
}
}
