.specialities {
  /* padding: 150px 0; */
}
.specialities__content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: 300px;
  gap: 20px;
}
.specialities__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 120px;
  gap: 25px;
}
.specialities__item:nth-child(even) {
  align-self: flex-end;
}
.specialities__icon {
  padding-bottom: 7px;
  --specialities__icon__size: 100px;
  min-width: var(--specialities__icon__size);
  min-height: var(--specialities__icon__size);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  box-shadow: var(--shadow);
}
.specialities__item:nth-child(1) {
  .specialities__icon {
    background-color: #cc0256;
  }
}
.specialities__item:nth-child(2) {
  .specialities__icon {
    background-color: var(--accent);
  }
}
.specialities__item:nth-child(3) {
  .specialities__icon {
    background-color: #2e5bae;
  }
}
.specialities__item:nth-child(4) {
  .specialities__icon {
    background-color: var(--accent);
  }
}
.specialities__item:nth-child(5) {
  .specialities__icon {
    background-color: #cc0256;
  }
}
.specialities__icon img {
  height: 75px;
}
.spec__name {
  /* text-transform: uppercase; */
  font-weight: 600;
}
.spec__about {
  font-size: 0.9em;
  width: 200%;
  height: 0;
  color: gray;
}

@media (max-width: 1300px) {
  .specialities__content {
    height: auto;
  }
  .specialities__item:nth-child(even) {
    align-self: flex-start;
  }
  .spec__about {
    font-size: 0.7em;
    width: 100%;
    height: 100%;
    color: gray;
  }
}
